@font-face {
    font-family: 'Minerva';
    src: url(minerv.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --cream: #F9F1F0;
    --rose: #FADCD9;
}

 body{
    margin: 0;
}

.flex {
    display: flex;
}

.rightPanel{
    flex-direction: column;
}

.logo, .logotext{
    position:absolute;
    width: 40vw;
    height: 15vh;
    top: 25vh;
    text-align: center;
    
    

}

#dog {
    height: 10vh;
    margin-right: 15px;
    margin-left: 10px;
}

.top, .middle, .bottom {
    color: #A91B60;
}

.logotext {
    
    font-family: Minerva;
    display:flex;
    justify-content: center;
    align-items: center;
    color:white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
    font-size: 6vh;
    
 
}

label {
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: -10px;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 1.5px;
    
}

.leftForm, .rightForm {
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
.logo {
    opacity: 15%;
    background-color: black;

}
p{
    font-family: Geneva, Tahoma, sans-serif;
}

button {
    width: 20vw;
    height: max(50px, 5vh);
    background-color: #EC9EC0;
    border: 5px solid pink;
    border-radius: 5px;
    font-family: Minerva;
    color:whitesmoke;
    font-size: 3vh;
    box-shadow: 3px 3px 3px 0px rgba(0, 0, 255, .2);
    
}
h4{
    padding: 0;
    margin: 0;
    margin-top: 2vh;
    margin-bottom: 2vh;
    margin-left: 5vw;
    font-family: Geneva, Tahoma, sans-serif;
}

input {
    width: 20vw;
    border: none;
    border-radius: 5px;
    outline: 1px solid rgb(5,5,5, 0.2)
}

input:focus:invalid{
    outline: 1px solid red;
}

input:focus {
    box-shadow: 0px 2px 3px 2px rgba(0, 0, 255, .2);
}

input:invalid{
    outline: 1px solid rgb(255,0,0, 0.8);
}


.forms{
    margin-bottom: 5px;
    margin-left: 5vw;
    justify-content: flex-start;
    gap: 50px;
    
}

.opaque {
    opacity: 100%;
    color:green;
}
.leftPanel {
    position: relative;
    background-image: url(iceMountai.jpeg);
    background-size: cover;
    background-position: center;
    width: 40vw;
    height:100vh;

}

span{
    font-family: Minerva;
}
.text {
    font-family: sans-serif;
    font-weight: bolder;
    position:absolute;
    
    left: 5vw;
    right: 5vw;
    bottom: 3vh;
}
.top {
    background-color: var(--cream);
    width: 60vw;
    position: relative;
    height: 35vh;
    color: #A91B60;

}

.middle {
    background-color: var(--rose);
    width: 60vw;
    height:30vh;
    


}

.bottom {

    align-items: center;
    background-color: var(--cream);
    flex-direction: column;
    justify-content: space-evenly;
    width: 60vw;
    height: 35vh;

}